html, body, head {
  margin: 0;
  padding: 0;
  background: #DF3F3F;
}  
.wrapper
{
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
}
.main
{
	padding-left: 10%;
	padding-right: 10%;
}
h1
{
	color: #5B1414;
}

.gallery
{
	float: none;
	width: 30%;
}
iframe
{
	color: transparent;
}
